<div class=" bg-header cairo topheader">
    <header class="border-bottom border-2">
        <div class="row px-0 mx-0 py-2">
            <div class="col-md-3   d-none d-md-block">
                <img src="../../../../assets/img/1.png" class="logo-left mx-3 " />
            </div>
            <div class="col-md-6 mt-3 text-center">
                <h3 class=" pb-3 font-weight-bold"> 
                    National Vulnerability Intelligence Platform 
                </h3>
            </div>
        </div>
    </header>
</div>