<!--
  Copyright 2021 Rochester Institute of Technology (RIT). Developed with
  government support under contract 70RCSA22C00000008 awarded by the United
  States Department of Homeland Security for Cybersecurity and Infrastructure Security Agency.

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the “Software”), to deal
  in the Software without restriction, including without limitation the rights
  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  SOFTWARE.
-->

<!-- Theme Stuff -->
  <div class = "row style-at-top">
    <div class = "col bottom-text">
  <h1> National Vulnerability Intelligence Platform </h1>
    </div>
    <!-- for photo -->
    <div class = "col img-col">
      <img src="assets/images/nvip-simple-logo.jpg" alt="NVIP" />
    </div>
  </div>

<!-- Header -->
<div class = "container">
  <!-- Row 1 -->
  <div class = "row">
    <h1> Browse Vulnerabilities </h1>
  </div>

  <!-- for spacing -->
  <div class = "row for-spacing"> 
    <h2> </h2>
  </div>

  <!-- Row 3 -->
  <div class = "row">
    <div class = "col">
    <h2> Descriptions</h2>
    <p>Vulnerability ID: this attribute desribes the index of the vulnerability found <p>
    <p>Summary: this attribute shows a brief description of the vulerability<p>
    <p>Severity: this attribute describes the severity of the vulnerability, from 'Low' to 'High'<p>
    </div>
    <div class = "col center-this">
     <h2> {{testData.length}} vulnerabilities found </h2>
     <h2> Showing results {{getStartIndex()+1}} through {{getEndIndex()}}</h2>
    </div>
    <!-- Pagination -->
    <div class = "col pagination-col">
      <nav aria-label="...">
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
          </li>
          <!-- Iterate over page numbers -->
          <li class="page-item" *ngFor="let pageNumber of totalPagesArray()">
            <a class="page-link" (click)="goToPage(pageNumber)" [class.active]="pageNumber === currentPage">{{ pageNumber }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
          </li>
        </ul>
      </nav>
      <!-- End of Pagination -->
    </div>
  </div>
</div>
<!-- End header -->


<!-- Begin Results Table -->
<div class = "container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Vuln ID</th>
      <th scope="col">Summary</th>
      <th scope="col">Severity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vuln of getItemsForCurrentPage(); let i = index">
      <td class = "blue-underline-text side-cols">{{ vuln.CveID }}</td>
      <td class="summary-col">{{ vuln.Summary }}</td>
      <td class="side-cols">{{ vuln.Severity }}</td>
    </tr>
  </tbody>
</table>
</div>
<!-- End Results Table -->





























<!-- // ****************************************************************************************************************
// OLD CODE PRIOR TO MODIFICATION 21 FEB 2024
// **************************************************************************************************************** -->
<!--
<div>
  <h1> Recent Vulerabilities </h1>
</div>


<div id="nvipContent" class="nvip-content-container">
 
  <!-- Begin about -->
<!--  <div class="nvip-about-section col-12">
    <p>
      The National Vulnerability Intelligence Platform (NVIP) is a new
      generation vulnerability database, a public platform where the software
      development and security communities can obtain rich, actionable
      intelligence about known vulnerabilities. NVIP automates the collection of
      CVEs, providing near real-time publishing of vulnerabilities, as well as
      intelligent analysis and categorization of these vulnerabilities. This
      page provides a summary of the most recent vulnerabilities found by NVIP.
    </p>
  </div>
  <!-- End About -->

  <!-- Loading Page -->
<!--  <div class="nvip-daily-vuln-ctn col-12" ng-init="init()">
    <div class="nvip-loading-screen col-12" [hidden]="apiCallDone === true">
      <fa-icon
        [icon]="faSpinner"
        animation="spin"
        size="3x"
        [fixedWidth]="true"
        [ngStyle]="{ color: 'black' }"
      ></fa-icon>
      <span [ngStyle]="{ color: 'black' }"
        >Loading daily vulnerability data...
      </span>
    </div>
    <!-- End Loading Page -->

    <!-- Begin day/navigation -->
<!--    <div
      class="nvip-daily-vuln-panel-ctn col-12"
      *ngFor="let vulnMap of dailyVulns; let panelIndex = index"
      [hidden]="panelIndex !== dailyVulnIndex"
    >
      <div class="nvip-daily-cve-panel-header col-8">
        <button
          class="nvip-button nvip-prev-day"
          (click)="incrementDailyVulnDay(1)"
          aria-label="Previous Day"
        >
          <div class="nvip-arrow-left"></div>
        </button>
        <div class="daily-cve-date col-12">
          <p>{{ formatDate(vulnMap.date) }}</p>
        </div>
        <div class="daily-cve-counts col-12">
          <p>{{ getCount(vulnMap.date) }} CVEs identified</p>
        </div>
        <button
          class="nvip-button nvip-next-day"
          (click)="incrementDailyVulnDay(-1)"
          [disabled]="isToday(vulnMap.date)"
          aria-label="Next Day"
        >
          <div class="nvip-arrow-right"></div>
        </button>
      </div>
<!-- End day/navigation -->

<!-- Begin Pagination -->
<!-- <pagination 
    [currentPage] = "currentPage" 
    [limit]="15" 
    [total]="1000" 
    (changePage)="changePage($event)"
    >
</pagination> -->

<!-- Begin results -->
<!--        <div class="daily-cve-panel col-8">
          <!-- Begin Title Row -->
<!--          <div class="title-row">
            <div class="title-column">
            <p>Vulnerability Number</p>
            </div>
            <!-- for spacing -->
<!--            <div class="title-column"></div>
            <div class="title-column">
              <p>Description</p>
              </div>
              <!-- for spacing -->
<!--              <div class="title-column"></div>
              <div class="title-column badges-column">
              <p>Badges</p>
              </div>
          </div>
          <!-- End title row -->
<!--        <div class="daily-vuln-dropdown-container">
          <div
            class="daily-vuln-dropdown col-12"
            *ngFor="let vuln of vulnMap.cve_list; let vulnIndex = index"
          >
            <daily-vuln-dropdown
              [vuln]="vuln"
              [index]="vulnIndex"
              [currentToggle]="currentSelected"
              (selected)="setCurrentSelected($event)"
              *ngIf="vulnIndex < vulnsDisplayed"
            ></daily-vuln-dropdown>
          </div>
        </div>
      </div>
  <!-- End Results -->
<!--    </div>
  </div>
</div> -->
