$header-height:40px;

$font-family:"Source Sans Pro", Helvetica, Arial, sans-serif;
.content-container{
    .card {
        box-shadow: 2px 2px 3px 4px rgba(20,20,20,0.4);
        border: 0px transparent;
        width: 650px !important;
        margin-bottom: 50px;
        margin-left: 18em; 
        .card-header {
            height: $header-height !important;
            line-height: 44px !important;
            background: white;
            padding: 0px !important;
            display: flex;
            justify-content: space-between;
            h4 {
                font-size: 17px !important;
                position: relative;
                color: $secondary;;
                height: $header-height !important;
                line-height: $header-height !important;              
                min-width: 200px;
                padding-left: 10px;
                padding-right: 20px;
                
                .fa{
                    color: #9eb4db !important;;
                    padding-right: 10px;
                }
                    
                .fa-certificate{
                    color:rgb(230,190,138) !important;
                }
                

            }
            h4::after {
                content: '';
                background-color: #dfe5f0;
            }
            .btn-close{
                margin-top: 7px;
                padding-left: 2px;
                i{
                    color:$gray;
                    font-size:25px;
                    &:hover{
                        color:$danger;
                    }
                }
           
            }

            .btn-print{
                margin-top: 0px !important;
                padding-right: 10px;

                i{
                    color:#9eb4db;
                    font-size:20px;
                    &:hover{
                        color:seagreen;
                    }
                }
            }

            .icheck-greensea{
                label{
                    margin-top: 5px;
                    font-size: 16px;
                }
            }
          
            
        }
        .card-body,.card-block {
            padding: 30px 30px 0px 30px;
            background-color: #dfe5f0;
            background-image: linear-gradient(white,#dfe5f0);
            border-bottom: 0px; 
            height: fit-content;
            border-radius: 5px;
   
            p{
                font-family: $font-family;
                font-size: 15px;
                color: $secondary;
                text-align: justify;
                margin-top: auto; 
            }
        }

        .card-footer{
            padding: 0px;
            margin-left: -30px;
            margin-right: -30px;
            height: $header-height;
            border-top: 1px solid black transparent;
            border-bottom: 0px !important;
            background: transparent;
            display:flex;
            justify-content: right;
            .info-label{
                font-size: 14px;
                //font-family: $font-family;
            }

            .type{
                color:$secondary;
                padding-right: 2.5em; 
                padding-top:.5em;
            }
        }
    
        .btn-success {
            background: seagreen;
        }
    }
}

.btn-success {
    background: seagreen;
}

@media print{
    .card-header{
        background-color: white !important;
        border-bottom: 2px solid $card-border-color !important;
        height: 50px !important;
        
        .toolbar{
            display: none !important;
        }
        h4{
            border:0 !important;
            //border-bottom: 4px solid $card-border-color !important;
            background-color: white !important;
        }
        h4::after {
            display: none !important;
        }
    }

    .card-body,.card-block{
        background-image: none !important;
        border-top: 1px !important;
        
    }
}

@media (max-width: 778px) {
    .card-header{
        background-color: $card-bg-color !important;
        border: 2px solid $card-border-color !important;
        border-bottom: 0px !important;
        height: 50px !important;
        h4{
            border:0 !important;
            background: transparent !important;
            //border-bottom: 4px solid $card-border-color !important;
        }
        h4::after {
            display: none !important;
        }

        .btn-print{
            padding-left: 5px !important;
        }
    }

    .card-body{
        border-radius: 5px 5px 5px 5x !important;
    }

}